{% load orders_tags museum_tags %}
	{% block item_common %}
	<h3>{% block item_header %}<a href="{{ object.get_absolute_url }}">Edit</a> | {{ object.name }}{% endblock %}</h3>
	<div>
	<table>
		<tr>
			<td><span class="label">Author:  </span></td><td>{{ object.author }}</td>
			<td><span class="label">Original author:  </span></td><td>{{ object.original_author }}</td>
			{# <td><span class="label">Name:  </span></td><td>{{ object.name }}</td> #}
			<td><span class="label">Item type:  </span></td><td>{{ object.item_type }}</td>			
		</tr>
		{% block item_storage %}
		<tr>
			<td><span class="label">Storage location:  </span></td>
			<td colspan="3">{{ object.storage.all|join:", " }}</td>
			{% comment %}
			{% for location in object.storage.all %}
				<td>{{ location }}</td>
			{% endfor %}
			{% endcomment %}
		</tr>
		{% endblock %}
	</table>
	{% endblock %}
	<br/>
	{% block item_custom %}
	{% custom_fields_for_object object as field_list %}
	{% if field_list %}
		<table>
		{% for field in field_list %}
			<tr>
				<td><span class="label">{{ field.desc_name }}</span></td><td>{{ field.desc_value }}</td>
			</tr>
		{% endfor %}
		</table>
		</div>	
	{% else %}
	</div>
	{% endif %}
	{% endblock %}
