<div class="module filtered" id="changelist">
<div id="toolbar"><form id="strain-search" action="" method="get">
		<div><!-- DIV needed for valid HTML -->
			<label for="searchbar-qs"><b>Search by strain name:</b></label>
			<input type="text" size="25" name="qs" value="" id="searchbar-qs" />
			<input type="submit" value="Go" />
			<label for="searchbar-qg"><b> by genotype:</b></label>
			<input type="text" size="15" name="qg" value="" id="searchbar-qg" />
			<input type="submit" value="Go" />
		</div>
	</form>
</div>
<script type="text/javascript">document.getElementById("searchbar-qg").focus();</script>
