{% load common_tags %}
<div id="content-related">
{% block search %}
	<div class="module">
		<h2>Search by</h2>
		<form id="searchform" action="" method="GET">
			<ul class="form">
				{% for field in form %}
					<li>{{ field.label_tag }}</li>
					<li>{{ field }}</li>
				{% endfor %}
			</ul>
		{% submit_row %}
		</form>
	</div>
{% endblock %}

{% block browse_owner %}
	<div class="module">
		<h2>Author</h2>
		<ul class="actionlist">
			{% list_filter "author__name" "strains.Owner" lookup_type="iexact" rel="name" tag="ul" %}
		</ul>
	</div>
{% endblock %}

{% block browse_storage %}
	<div class="module">
		<h2>Storage</h2>
		<ul class="actionlist">
			{% list_filter "storage__location" "strains.Storage" lookup_type="iexact" rel="location" tag="ul" %}
		</ul>
	</div>
{% endblock %}
</div>
