{% extends 'strains/base.html' %}
{% load orders_tags common_tags %}
{% block content %}
    <ul class="nav nav-tabs">
        {% render_tabs %}
        <li class="active"><a href="#">{% if object %}Update {{ model }}: {{ object }}{% else %}Add new  {{ model }}{% endif %}</a></li>
    </ul>
            
    <form class="form-horizontal" action="." method="POST">{% csrf_token %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="col-xs-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-xs-6">
                    {{ field|add_css:"form-control" }}
                    <span class="help-block">{{ field.help_text }}</span>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if formset %}
            {{ formset.management_form }}
            <table class="table">
                <thead>
                <tr><th>Descriptor</th><th>Value</th></tr>
                </thead>
                {% for the_form in formset %}
                    <tr>
                        <td>{{ the_form.id }}{{ the_form.desc_name|add_css:"col-xs-3 form-control" }}</td>
                        <td>{{ the_form.desc_value|add_css:"col-xs-3 form-control" }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% submit_row %}
    </form>
{% endblock %}
