{% extends "exp/base.html" %}
{% load common_tags exp_tags %}
{% block list_body %}
    {% if not object_list %}
        <div class="summary">
            <h2>No experiments found!</h2>
        </div>
    {% endif %}
    {% for obj in object_list %}
    <div class="summary">
        <div class="info-badge">
            <div class="order-stats-date">
                {% render_obj_users obj %}
            </div>
        </div>
        <h4>{{ obj }} <a href="{% url 'volcano-plot' obj.id%}">Volcano Plot</a></> <a href="{% url 'pca-plot' obj.id %}">PCA Plot</a></h4>
        <div class="item-details">
            {% render_obj obj css_class='item-fieldset' %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
