{% extends "exp/base.html" %}
{% load  common_tags %}
{% block content %}
    <div class="col-md-12">
        {% block filters %}
            <ul class="nav nav-tabs">
                {% render_tabs %}
                <li class="active"><a href="#">Import Multiple</a></li>
            </ul>
        {% endblock %}
		<form class="form-horizontal" action='#' method="post">{% csrf_token %}
            <input type="file" name='folder' webkitdirectory mozdirectory />
            {% submit_row %}
		</form>
	</div>
{% endblock %}

