{% extends "exp/home.html" %}
{% load common_tags exp_tags %}
{% block content %} 
    {% if not edit_page %}
    <ul class="nav nav-tabs">
        {% render_tabs %}
        <li class="active"><a href="#">Upload .csv file</a></li>
    </ul>
    {% else %}
        <h3>Edit Experiment</h3>
    {% endif %}


    <form class="form-horizontal" action='.' method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="col-xs-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-xs-6">
                    {{ field|add_css:"form-control" }}
                    <span class="help-block">{{ field.help_text }}</span>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
        {% endfor %}
        
        {% submit_row %}
    </form>
{% endblock %}

