{% extends "base.html" %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
    <div class="login">
        <h2>Change the password for {{ user }}</h2>
        {% if form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p class="error">Your username and password didn't match. Try again.</p>
            </div>
        {% endif %}
        <form class="form-horizontal" action="." method="POST">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button class="btn" type="submit" value="Change">Change</button>
        </form>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
